<header>
  <div class="navbar fixed-top navbar-dark bg-dark box-shadow">
    <a class="navbar-brand" href="#">

  </a>
    <h5 class="my-0 mr-md-auto font-weight-normal"> < <i class="fas fa-flask"></i> Mr's lab ></h5>
    <div class="d-flex flex-column bg-dark flex-md-row align-items-center p-3 px-md-4 box-shadow" id="navbarHeader">
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" href="#home">Home</a>
        <a class="p-2 text-white" href="#projects">Projects</a>
        <a class="p-2 text-white" href="#skills">Skills</a>
        <a class="p-2 text-white" href="#roadmap">RoadMap</a>
      </nav>
    </div>
  </div>
</header>