<div class="container">
    <h1 class=" section-heading section-title text-center ">My roadmap</h1>
    <div class="row">
        <div class="container">

            <!-- Page header -->
            <div class="page-header">
                <h2>Timeline</h2>
            </div>
            <!-- /Page header -->

            <!-- Timeline -->
            <div class="timeline">

                <!-- Line component -->
                <div class="line text-muted"></div>

                <!-- Separator -->
                <div class="separator text-muted">
                    <time>9. 2016 - 9. 2016</time>
                </div>
                <!-- /Separator -->

                <!-- Panel -->
                <article class="panel panel-danger panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-heart"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        <strong>Masters degree</strong>, Software Engineering
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article class="panel panel-default panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-picture"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                         <img class="school" src="https://image.flaticon.com/icons/svg/201/201799.svg" />
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article class="panel panel-primary">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    <!-- /Icon -->


           

                </article>
                <!-- /Panel -->

                <!-- Separator -->
                <div class="separator text-muted">
                    <time>.9 2014 - .9 2015</time>
                </div>
                <!-- /Separator -->

                <!-- Panel -->
                <article class="panel panel-danger panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-heart"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        <strong>Vocational degree, </strong>Designer developer in distributed environment
		                <br/>Grade C
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

            <!-- Panel -->
                <article class="panel panel-success">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    <!-- /Icon -->

                  <!-- Body -->
                    <div class="panel-body">
                         <img class="school" src="http://icons.iconarchive.com/icons/graphicloads/flat-finance/256/certificate-icon.png" />
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                   <!-- Separator -->
                <div class="separator text-muted">
                    <time>.9 2012 - .9 2014</time>
                </div>
                <!-- /Separator -->

                <!-- Panel -->
                <article class="panel panel-danger panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-heart"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                            <strong>Advanced technician’s certificate (SIO)</strong> at lycée René Cassin,
                          Strasbourg
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article class="panel panel-success">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                         <img class="school" src="http://icons.iconarchive.com/icons/graphicloads/flat-finance/256/certificate-icon.png" />
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

                <!-- Panel -->
                <article class="panel panel-info panel-outline">

                    <!-- Icon -->
                    <div class="panel-heading icon">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </div>
                    <!-- /Icon -->

                    <!-- Body -->
                    <div class="panel-body">
                        Contact me to learn more <a href="https://www.linkedin.com/in/charly-mrazeck-1143a6105/"> about me. </a>
                    </div>
                    <!-- /Body -->

                </article>
                <!-- /Panel -->

            </div>
            <!-- /Timeline -->

        </div>
    </div>
</div>
</div>