<div class="container">
  <h1 class="jumbotron-heading">My skills</h1>
  <p class="lead text-muted">Here's some stuff about me. <br/> Mainly developping, here's some of my developing skills.</p>
  <p class="skill-bar">
    <img class="skill" src="http://plutustree.com/wp-content/uploads/2017/10/java-1-1.png" />
    <img class="skill" src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-purple/raphael/raphael_javascript/raphael_javascript_flat-circle-white-on-purple_512x512.png"
    />
    <img class="skill" src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-orange/mimetype/mimetype_document-html/mimetype_document-html_flat-circle-white-on-orange_512x512.png"
    />
    <img class="skill" src=""
      style="background-color:lightblue" />
  </p>
  <p class="lead text-muted">Some frameworks</p>
  <p class="skill-bar">
    <img class="skill" src="" />
    <img class="skill" src="https://ih1.redbubble.net/image.195575713.9130/flat,800x800,075,f.jpg" />
    <img class="skill" src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" style="background-color:lightblue"
    />
    <img class="skill" src="" style="background: lightgrey;" />
  </p>

  <p class="lead text-muted">Some tools</p>
  <p class="skill-bar">
    <img class="skill" style="background: orangered;" src="http://www.pvhc.net/img180/xoogppdirefxxnqvwxek.png" />
    <img class="skill" src="https://images.g2crowd.com/uploads/product/image/large_detail/large_detail_1489701862/mantisbt.png"  style="background: lightgrey;"/>
    <img class="skill" src="http://afonsof.com/jenkins-material-theme/images/logo.svg" />
    <img class="skill" src=""  style="background: grey;" />
  </p>
  </p>
</div>